@charset "utf-8";

@import "normalize";
@import "media";

.l-inner {
  width: 960px;
  margin: 0 auto;
}

.l-visual {
  background-color: #8E9E6F;

  > .l-inner {
    position: relative;

    div {
      position: absolute;
      top: 15px;
      left: 15px;
      padding: 10px;
      background-color: rgba(0,0,0,.6);
      color: #fff;
    }
  }
}

table {
  width: 100%;
  td {
    padding: 5px 10px;
    border: 1px solid #ccc;
  }
}
